@import "../GlobalStyles/GlobalStyles.scss";

.wrapper {
   & + .wrapper {
      margin-top: 1rem;
   }
}

.title-primary {
   color: black;
   background: linear-gradient(to bottom, #f2d9d4, #fff);
   border: 1px solid $tertiary-color;
   border-bottom-width: 0;
}
